body, html {
    height: 100%;
    width: 100%;
}
.headerMain {
    background-color: #ADD8E6;
}

.footerMy {
    background-color: #ADD8E6;
}

.findProductInput {
    background-color: red;
    padding-top: 500px;
    margin-top: 500px;
}

.avatar-Name {
    margin-left: 90px;
    width: 100px;
    height: 100px;
    display: block;
}

.NameAndDate {
    display: grid;
    padding-top: 16px;
}

.userName {
    display: block;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

.avatar {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto
}

.inputTitleProduct {
    width: 500px;
    height: 50px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    display: block;
}

.collapse {
    justify-content: space-around;
}

.buttons-search {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.chooseFilter {
    margin: 0 0 0 20px;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 1px #999;
}

.chooseFilter:hover {
    background-color: #3e8e41
}

.chooseFilter:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.pagination {
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: center;
}

.headerContent {
    display: flex;
    align-items: center;
}

.cards-content {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 100px;
}

.cards {
    display: contents;
}

.card-product {
    width: 275px;
    height: 516px;
    margin: 0 8px 36px 8px;
    border: none;
}

.prodImage {
    height: 366px;
    width: 275px;
    border-radius: 10px;
}

.addToCartButton {
    background-color: #a73afd;
    color: white;
    height: 30px;
    border: none;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
}

.card-title {
    width: 100%;
    text-align: center;
}
.card-text{
    text-align: center;
    margin-bottom: 0;
    height: 48px;
}
.card-price{
    text-align: center;
    font-family: monospace;
}
.bi-heart {
    width: 37px;
    height: 40px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 85%;
}

.carousel-photo {
    width: 502px;
    height: 670px;
}

.MainContent {
    width: 100%;
    height: 768px;
    display: inline-flex;
}

.personalCarousel {
    width: 502px;
    height: 670px;
    margin-left: 250px;
    margin-top: 40px;
}

.block-info {
    margin: auto 30px;
    width: 300px;
    height: 150px;
    border: solid;
    display: inline-grid;
    align-items: end;
    border-radius: 10px;
    padding: 30px;
}

.block-buy {
    margin: auto 30px;
    width: 300px;
    height: 150px;
    border: solid;
    display: inline-grid;
    align-items: end;
    border-radius: 10px;
    padding: 30px;
}

.change {
    margin: 10px 0 10px 200px;
}

.user-info {
    display: flex;
    justify-content: center;
    justify-items: baseline;
    width: 300px;
    height: 120px;
}

.comments {
    display: contents;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0 100px;
}

.commentary {
    width: 400px;
    height: 190px;
    margin: 20px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    border-radius: 10px;
}

.textComment {
    margin-top: 10px;
    padding-left: 25px;
}

.adminUsers {
    display: inline-flex;
    min-height: 797px;
    width: 100%;
    justify-content: center;
}

.cardOfUser {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
}

.myRow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.userPageMain {
    min-height: 797px;
}

.inputProduct {
    margin: 0 40px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    width: 500px;
    border-radius: 10px;

}

.col-1 {
    border: none;
    width: 200px;
    height: 250px;
}

.alert-danger {
    text-align: center;
}

.inputProductDetails {
    width: 400px;
    margin-left: 45px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.fileChoose {
    margin-left: 120px;
}

.createProductMain {
    margin: 0 40px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.users {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
}

.btn-success-Create {
    width: 400px;
    margin-left: 50px;
}

.leaveComment {
    margin-left: 600px;
    margin-bottom: 50px;
}

.baskets {
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    border-radius: 10px;
}

.cartContent {
    align-content: flex-start;
}

.favorite-content {
    display: flex;
    margin: 0 40px;
    padding: 20px;
}

.orderDetails {
    width: 760px;
    height: 200px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    border-radius: 10px;
    margin: 40px 20px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    align-items: center;
}

.cart-main {
    margin: 0 40px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.createContent {
    height: 797px;
    display: inline-table;
    margin-left: 450px;
}

.successMessageSave {
    width: 500px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 80px;
    text-align: center;
}

.favorite-main {
    background-color: #d2c9ff;
    min-height: 797px;
    display: inline-table;
    width: 100%;
}

.removeFromCart {
    margin-right: 60px;
}

.favoriteMainContent {
    min-height: 797px;
    display: inline-table;
}

.orderDetails {
    width: 790px;
    height: 200px;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.cards-content-favorite {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.list-group {
    width: 210px;
    height: 31px;
    border-radius: 10px;
}

.buyButton {
    margin-top: 40px;
}

.inputUsername {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.inputUser {
    width: 500px;
    height: 50px;
    border-radius: 10px;
}

.navbar-expand-lg {
    width: 100%;
}

.favorite-container {
    padding-left: 0;
    margin-left: 85px;
}

.OrderContent {
    display: flex;
    min-height: 797px;
}

.headerTitle {
    margin-left: 200px;
    font-family: cursive;
    font-weight: 500;
    font-size: 20px;
}

.storeMainContent {
    min-height: 797px;
}

.filtersOrder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 250px;
    width: 1200px;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.orders {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.UsernameAndAvatar {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: baseline;
    border-radius: 10px;
}

.aboutOrder p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.userNameOrder {
    width: 100%;
    text-align: center;
}

.userAvatar {
    width: 70px;
    height: 70px;
}

.errorContent {
    min-height: 797px;
    display: flex;
    justify-content: center;
}

.noFound {
    display: flex;
    justify-content: center;
}

.notFoundAlert {
    width: 50%;
    text-align: center;
    margin-top: 100px;
}

.notFoundAlert p {
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.userPageContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 100px;
}

.userOptions a {
    width: 200px;
    height: 120px;
    text-decoration: none;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    margin: 0 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    font-weight: 500;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userOptions a p {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.personalInfo {
    width: 400px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    margin: auto;
    height: 210px;
}

.userOptions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.quitButt {
    margin-left: 300px;
    border-radius: 10px;
    width: 100px;
}

.avatarProfile {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.updateProductMain {
    display: flex;
    min-height: 797px;
    justify-content: center;
    padding-top: 30px;
}

.updateContent {
    display: flex;
}

.updateInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    align-items: center;
}

.inputs {
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
}

.inputs input {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.addNewImage {
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    height: 140px;
    width: 540px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.imagesControl {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.inputInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.updateOptions {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

.changePhoto {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
}

.card-Update {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 560px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
}

.card-Update p {
    font-weight: 600;
}

.updateButton {
    margin-top: 30px;
}

.commentSize {
    width: 400px;
    margin: auto;
}