<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navigator" th:fragment="admin-navigation">
    <div class="list-group" style="width: 210px; height: 100%; border-radius: 0px">
        <button type="button" class="list-group-item list-group-item-action"><a
                th:href="@{/admin/products/{page}/{size}(page = 0, size = 10)}">Все товары</a></button>

        <button type="button" class="list-group-item list-group-item-action"><a
                th:href="@{/admin/createProduct}">Создать товар</a></button>

        <button type="button" class="list-group-item list-group-item-action"><a
                th:href="@{/admin/orders/{page}/{size}(page = 0, size = 10)}">Заказы</a></button>

        <button type="button" class="list-group-item list-group-item-action"><a
                th:href="@{/admin/users/{page}/{size}(page = 0, size = 10)}">Пользователи</a></button>
    </div>
</div>
<div th:fragment="input-details (variable)">
    <input name="title" placeholder="title" th:value="${variable.title}" type="text" th:field="*{title}">
    <div th:if="${#fields.hasErrors('title')}" th:class="${#fields.hasErrors('title')}? error"
         th:errors="*{title}"></div>
    <input name="price" placeholder="price" th:value="${variable.price}" th:field="*{price}" type="number">
    <div th:if="${#fields.hasErrors('price')}" th:class="${#fields.hasErrors('price')}? error"
         th:errors="*{price}"></div>
    <input name="count" placeholder="count" th:value="${variable.count}" th:field="*{count}" type="number">
    <div th:if="${#fields.hasErrors('count')}" th:class="${#fields.hasErrors('count')}? error"
         th:errors="*{count}"></div>
    <input name="description" placeholder="description" th:value="${variable.description}" type="text" th:field="*{description}">
    <div th:if="${#fields.hasErrors('description')}" th:class="${#fields.hasErrors('description')}? error"
         th:errors="*{description}"></div>
</div>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<footer class="bg-body-tertiary text-center text-lg-start" th:fragment="footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2020 Copyright:
        <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>